.App {
  text-align: left;
}

.main-section {
  margin-top: 10px;
  display: flex;
  align-items: space-evenly;
}

.App-main-header {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: black;
  height: 80px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px 15px;
  font-size: medium;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
  font-size: small;
}

.footer {
  padding-top: 20px;
  text-align: center;
  font-size: x-small;
}

.footer-list {
  list-style: none;
}

.card {
  width: 18rem;
}

.card-img-top {
  max-width: 100%;
  height: 160px;
}
